<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>건학정식과대학생활 관리자</title>
        <link href="https://unpkg.com/ionicons@4.5.0/dist/css/ionicons.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="{{css('admin.css')}}" />
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header>
            <div id="header">
                <div class="middle-content">
                    <div class="logo-area">
                        <h1><a href="/admin"><img src="/assets/images/logo.png" alt="LOGO" /></a></h1>
                    </div>
                </div>
            </div>
            <nav>
                <div class="navigation">
                    <div class="middle-content">
                        <ul>
                            <li>
                                <a href="/">
                                    <i class="icon ion-ios-people"></i>
                                    <span>이용자</span>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <i class="icon ion-ios-restaurant"></i>
                                    <span>학생식당</span>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <i class="icon ion-ios-star"></i>
                                    <span>단무지 추천</span>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <i class="icon ion-ios-bicycle"></i>
                                    <span>배달업체</span>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <i class="icon ion-ios-rocket"></i>
                                    <span>제휴업체</span>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <i class="icon ion-ios-gift"></i>
                                    <span>이벤트</span>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <i class="icon ion-ios-paper"></i>
                                    <span>건대신문</span>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <i class="icon ion-ios-construct"></i>
                                    <span>서비스</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </body>
</html>