{% extends "layouts/admin.sub.layout.html" %}

{% block head %}
<script src="{{js('thumbnail.js')}}" type="text/javascript"></script>
<script>
    AJS.$(function(){
        $("#group-delete").on('submit', function(e){
            if(!confirm("정말로 삭제하시겠습니까?")){
                e.preventDefault();
                e.stopPropagation();
                return false;
            }

            return true;
        });
        AJS.$("#select-group").auiSelect2();
    });
</script>
{% endblock %}

{% block article %}
<div class="article-content delivery-info">
    <h4 class="section-title" style="margin-top: 0;">카카오톡 채팅방 미리보기</h4>
    <div class="kakaotalk-preview" style="width: 240px;">
        <div class="basicCard">
            {% if thumbnail %}
            <div class="thumbnail" style="background-image: url('{{delivery.getThumbnailURL}}')"></div>
            {% else %}
            <div class="thumbnail"></div>
            {% endif %}
            <div class="content">
                <span class="title">{{delivery.title}}</span>
                <span class="description">{{delivery.description}}</span>
            </div>
            <div class="buttons">
                <span class="button">대표메뉴</span>
                <span class="button">배달 주문하기</span>
                <span class="button">공유하기</span>
            </div>
        </div>
    </div>
    <h4 class="section-title">
        배달업체 아이템 관리
        <a
            href="/admin/delivery/{{delivery.id}}/item/add"
            style="vertical-align: bottom; margin-left: 9px;"
            class="aui-button aui-button-compact aui-button-primary"
            {% if leaflet %}disabled{% endif %}
        >
            추가하기
        </a>
    </h4>
    <p>배달업체 당 서비스 갯수는 최대 10개까지 등록 가능합니다.</p>
    {% if leaflet %}
    <p style="color: #ff0000; margin-top: 0;">메뉴판 이미지가 등록되어있어 아이템을 추가하실 수 없습니다. 메뉴판 삭제 후 시도해주세요.</p>
    {% endif %}
    <table class="aui">
        <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>가격</th>
                <th>할인</th>
                <th>등록일</th>
            </tr>
        </thead>
        <tbody>
            {% if item_list|length > 0 %}
            {% for i in range(0, item_list|length - 1) %}
                {% set item = item_list[i] %}
                <tr>
                    <td>{{i+1}}</td>
                    <td><a href="/admin/delivery/{{delivery.id}}/item/{{item.id}}">{{item.title}}</a></td>
                    <td>{{number_format(item.price)}}</td>
                    <td>{{number_format(item.discount)}}</td>
                    <td>{{date_format(item.register_date, "Y.m.d H:i")}}</td>
                </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5" style="text-align: center; font-style: italic;">등록된 아이템이 없습니다</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <h4 class="section-title">배달업체 메뉴판 관리</h4>
    <p>아이템을 하나하나 등록하기 어려운 업체일 경우 메뉴판을 스캔해서 업로드합니다.</p>
    <form class="aui" action="/admin/delivery/{{delivery.id}}/leaflet" method="POST">
        <div class="field-group">
            <label for="f-thumbnail-2">메뉴판 이미지</label>
            <div class="form-thumbnail">
                <div class="thumbnail leaflet" id="thumbnail-preview-2">
                    {% if leaflet %}
                    <div class="img" style="background-image: url('{{leaflet.getDownloadLinkDirectory}}');"></div>
                    {% else %}
                    <span class="placeholder">이미지를 선택하세요</span>
                    {% endif %}
                </div>
                <button
                    type="button"
                    class="aui-button aui-button-compact delete-thumbnail"
                    id="delete-thumbnail-2"
                    data-value="#thumbnail-value-2"
                    data-button="#upload-thumbnail-2"
                    data-preview="#thumbnail-preview-2"
                    {% if not leaflet %}disabled{% endif %}
                >
                    삭제
                </button>
            </div>
            <div style="padding: 6px 0;">
                <input type="hidden" name="leaflet" id="thumbnail-value-2" value="{{leaflet.id}}" />
                <input class="upfile" type="file" id="f-thumbnail-2" title="upload file" data-button="#upload-thumbnail-2" />
                <button
                    type="button"
                    id="upload-thumbnail-2"
                    class="aui-button aui-button-compact upload-thumbnail"
                    data-input="f-thumbnail-2"
                    data-delete="#delete-thumbnail-2"
                    data-preview="#thumbnail-preview-2"
                    data-value="#thumbnail-value-2"
                    disabled
                >
                    업로드
                </button>
            </div>
            <div class="description">
                * 권장 이미지 크기 : 800 x 600, 600 x 450, 4:3 비율, 모든 사이즈(비율) 허용<br/>
                * 지원되는 파일 형식 : jpg, jpeg, png, gif
            </div>
        </div>
        <div class="buttons-container">
            <div class="buttons">
                <button type="submit" class="aui-button aui-button-primary">메뉴판 수정하기</button>
                <a class="cancel" href="/admin/delivery">취소</a>
            </div>
        </div>
    </form>
    <h4 class="section-title">배달업체 정보 수정</h4>
    <form class="aui" style="margin-top: 24px;" action="/admin/delivery/{{delivery.id}}/edit" method="POST">
        <div class="field-group">
            <label for="f-title">업체명<span class="aui-icon icon-required"></span></label>
            <input class="text long-field" type="text" id="f-title" name="title" title="업체명" value="{{delivery.title}}" />
        </div>
        <div class="field-group">
            <label for="f-description">설명<span class="aui-icon icon-required"></span></label>
            <input class="text long-field" type="text" id="f-description" name="description" title="설명" value="{{delivery.description}}" />
            <div class="description">카카오톡 카드의 제목 아래에 노출될 설명을 입력하세요. 최대 32글자</div>
        </div>
        <div class="field-group">
            <label for="select-group">소속된 그룹<span class="aui-icon icon-required"></span></label>
            <div>
                <select id="select-group" multiple="" name="groups[]">
                    {% for i in range(0, group_list|length - 1) %}
                        {% set item = group_list[i] %}
                        {% set is_active = 0 %}
                        {% if belonging|length > 0 %}
                            {% for j in range(0, belonging|length - 1) %}
                                {% if belonging[j].id == item.id %}{% set is_active = 1 %}{% endif %}
                            {% endfor %}
                        {% endif %}
                        <option value="{{item.id}}" {% if is_active %}selected="selected"{% endif %}>{{item.label}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="field-group">
            <label for="f-description">전화번호<span class="aui-icon icon-required"></span></label>
            <input class="text" type="text" id="f-contact" name="contact" title="전화번호" value="{{delivery.contact}}" />
            <div class="description">ex) 02-1234-5678 | 양식 준수할 것.</div>
        </div>
        <div class="field-group">
            <label for="f-thumbnail-1">썸네일</label>
            <div class="form-thumbnail">
                <div class="thumbnail" id="thumbnail-preview-1">
                    {% if thumbnail %}
                    <div class="img" style="background-image: url('{{thumbnail.getDownloadLinkDirectory}}')"></div>
                    {% else %}
                    <span class="placeholder">이미지를 선택하세요</span>
                    {% endif %}
                </div>
                <button
                    type="button"
                    class="aui-button aui-button-compact delete-thumbnail"
                    id="delete-thumbnail-1"
                    data-value="#thumbnail-value-1"
                    data-button="#upload-thumbnail-1"
                    data-preview="#thumbnail-preview-1"
                    {% if not thumbnail %}disabled{% endif %}
                >
                    삭제
                </button>
            </div>
            <div style="padding: 6px 0;">
                <input type="hidden" name="thumbnail" id="thumbnail-value-1" value="{{thumbnail.id}}" />
                <input class="upfile" type="file" id="f-thumbnail-1" title="upload file" data-button="#upload-thumbnail-1" />
                <button
                    type="button"
                    id="upload-thumbnail-1"
                    class="aui-button aui-button-compact upload-thumbnail"
                    data-input="f-thumbnail-1"
                    data-delete="#delete-thumbnail-1"
                    data-preview="#thumbnail-preview-1"
                    data-value="#thumbnail-value-1"
                    disabled
                >
                    업로드
                </button>
            </div>
            <div class="description">
                * 권장 이미지 크기 : 800 x 400, 600 x 300, 2:1 비율<br/>
                * 지원되는 파일 형식 : jpg, jpeg, png, gif
            </div>
        </div>
        <div class="field-group">
            <label for="f-description">할인유형<span class="aui-icon icon-required"></span></label>
            <div class="radio">
                <input class="radio" type="radio" {% if delivery.promotion == 0 %}checked="checked"{% endif %} name="promotion" id="f-promotion-1" value="0" />
                <label for="f-promotion-1">할인 없음</label>
            </div>
            <div class="radio">
                <input class="radio" type="radio" {% if delivery.promotion == 1 %}checked="checked"{% endif %} name="promotion" id="f-promotion-2" value="1" />
                <label for="f-promotion-2">재학생 할인</label>
            </div>
            <div class="radio">
                <input class="radio" type="radio" {% if delivery.promotion == 2 %}checked="checked"{% endif %} name="promotion" id="f-promotion-3" value="2" />
                <label for="f-promotion-3">음료수 제공</label>
            </div>
            <div class="radio">
                <input class="radio" type="radio" {% if delivery.promotion == 3 %}checked="checked"{% endif %} name="promotion" id="f-promotion-4" value="3" />
                <label for="f-promotion-4">사이드메뉴 제공</label>
            </div>
        </div>
        <div class="field-group">
            <label for="f-description">게재유형<span class="aui-icon icon-required"></span></label>
            <div class="radio">
                <input class="radio" type="radio" {% if delivery.contract == 0 %}checked="checked"{% endif %} name="contract" id="f-contract-1" value="0" />
                <label for="f-contract-1">운영진이 임의로 추가함</label>
            </div>
            <div class="radio">
                <input class="radio" type="radio" {% if delivery.contract == 1 %}checked="checked"{% endif %} name="contract" id="f-contract-2" value="1" />
                <label for="f-contract-2">무료로 게재할 것을 합의함</label>
            </div>
            <div class="radio">
                <input class="radio" type="radio" {% if delivery.contract == 2 %}checked="checked"{% endif %} name="contract" id="f-contract-3" value="2" />
                <label for="f-contract-3">유료로 계약함</label>
            </div>
        </div>
        <div class="buttons-container">
            <div class="buttons">
                <button type="submit" class="aui-button aui-button-primary">수정하기</button>
                <a class="cancel" href="/admin/delivery">취소</a>
            </div>
        </div>
    </form>
    <h4 class="section-title">배달업체 정보 삭제</h4>
    <form class="aui" action="/admin/delivery/{{delivery.id}}/delete" method="POST" id="group-delete">
        <div class="field-group">
            <label>배달업체 삭제</label>
            <button type="submit" class="aui-button">삭제하기</button>
            <div class="description">주의, 본 작업은 되돌릴 수 없습니다.</div>
        </div>
    </form>
</div>
{% endblock %}