{% extends "layouts/admin.delivery.layout.html" %}

{% block head %}
{% endblock %}

{% block article %}
<div class="article-content delivery-group-add">
    <form class="aui" style="margin-top: 24px;" action="/admin/delivery/groups/add" method="POST">
        <div class="field-group">
            <label for="f-title">카드 제목<span class="aui-icon icon-required"></span></label>
            <input class="text long-field" type="text" id="f-title" name="title" title="그룹 제목" />
            <div class="description">카카오톡 카드에 노출될 제목을 입력하세요.</div>
        </div>
        <div class="field-group">
            <label for="f-label">라벨<span class="aui-icon icon-required"></span></label>
            <input class="text" type="text" id="f-label" name="label" title="라벨" />
        </div>
        <div class="field-group">
            <label for="f-description">설명<span class="aui-icon icon-required"></span></label>
            <input class="text long-field" type="text" id="f-description" name="description" title="설명" />
            <div class="description">카카오톡 카드의 제목 아래에 노출될 설명을 입력하세요.</div>
        </div>
        <div class="buttons-container">
            <div class="buttons">
                <button type="submit" class="aui-button aui-button-primary">추가하기</button>
                <a class="cancel" href="/admin/delivery/groups">취소</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}