{% extends "layouts/admin.delivery.layout.html" %}

{% block head %}
{% endblock %}

{% block article %}
<div class="article-content delivery-group-list">
    <table class="aui">
        <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>라벨</th>
                <th>우선순위</th>
                <th>등록일</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(0, group_list|length - 1) %}
                {% set item = group_list[i] %}
                <tr>
                    <td>{{item.id}}</td>
                    <td><a href="/admin/delivery/groups/{{item.id}}">{{item.title}}</a></td>
                    <td><span class="aui-label">{{item.label}}</span></td>
                    <td>{{item.priority}}</td>
                    <td>{{date_format(item.register_date, "Y.m.d H:i")}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}