{% extends "layouts/admin.delivery.layout.html" %}

{% block head %}
<script>
    AJS.$(function(){
        $(document).on('click', "#delete-thumbnail", function(e){
            $("#thumbnail-value").val(0);
            $('#upload-thumbnail').attr('disabled', false);
            $(this).attr('disabled', true);

            var span = $("<span class='placeholder'>이미지를 선택하세요</span>");
            $("#thumbnail-preview").empty().append(span);
        });
        $('#upload-thumbnail').on('click', function(e){
            if(document.getElementById("f-thumbnail").files.length == 0){
                alert('업로드할 파일을 선택해주세요.');
                return;
            }

            var formData = new FormData();
            formData.append('attachment', document.getElementById("f-thumbnail").files[0]);
            $.ajax({
                url: '/attachment/upload',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                beforeSend: function(){
                    $('#upload-thumbnail').attr('disabled', true);
                },
                success: function(data){
                    if(data.result == 200){
                        var id = data.returns.id,
                            dir = data.returns.dir,
                            ext = data.returns.ext;

                        if((['jpg', 'jpeg', 'png', 'gif']).indexOf(ext) == -1){
                            alert("지원되는 이미지 형식이 아닙니다!");
                            return;
                        }

                        var div = $("<div class='img' style='background-image: url(" + dir + ");'></div>");
                        $("#delete-thumbnail").attr('disabled', false);
                        $("#thumbnail-preview").empty().append(div);
                        $("#thumbnail-value").val(id);
                    } else {
                        alert(data.message);
                    }
                },
                error: function(request, status, error){
                    alert(error);
                },
                complete: function(){
                    document.getElementById("f-thumbnail").value = "";
                }
            });
        });
        $("#f-thumbnail").on('change', function(e){
            $('#upload-thumbnail').attr('disabled', false);
        });

        $("#group-delete").on('submit', function(e){
            if(!confirm("정말로 삭제하시겠습니까?")){
                e.preventDefault();
                e.stopPropagation();
                return false;
            }

            return true;
        });
        AJS.$("#select-group").auiSelect2();
    });
</script>
{% endblock %}

{% block article %}
<div class="article-content delivery-group-info">
    <h4 class="section-title" style="margin-top: 0;">카카오톡 채팅방 미리보기</h4>
    <div class="kakaotalk-preview" style="width: 240px;">
        <div class="basicCard">
            {% if thumbnail %}
            <div class="thumbnail" style="background-image: url('{{thumbnail.getDownloadLinkDirectory}}')"></div>
            {% else %}
            <div class="thumbnail"></div>
            {% endif %}
            <div class="content">
                <span class="title">{{delivery.title}}</span>
                <span class="description">{{delivery.description}}</span>
            </div>
            <div class="buttons">
                <span class="button">배달 주문하기</span>
                <span class="button">상세메뉴 확인하기</span>
            </div>
        </div>
    </div>
    <h4 class="section-title">배달업체 정보 수정</h4>
    <form class="aui" style="margin-top: 24px;" action="/admin/delivery/{{delivery.id}}/edit" method="POST">
        <div class="field-group">
            <label for="f-title">업체명<span class="aui-icon icon-required"></span></label>
            <input class="text long-field" type="text" id="f-title" name="title" title="업체명" value="{{delivery.title}}" />
        </div>
        <div class="field-group">
            <label for="f-description">설명<span class="aui-icon icon-required"></span></label>
            <input class="text long-field" type="text" id="f-description" name="description" title="설명" value="{{delivery.description}}" />
            <div class="description">카카오톡 카드의 제목 아래에 노출될 설명을 입력하세요. 최대 32글자</div>
        </div>
        <div class="field-group">
            <label for="select-group">소속된 그룹<span class="aui-icon icon-required"></span></label>
            <div>
                <select id="select-group" multiple="" name="groups[]">
                    {% for i in range(0, group_list|length - 1) %}
                        {% set item = group_list[i] %}
                        {% set is_active = 0 %}
                        {% if belonging|length > 0 %}
                            {% for j in range(0, belonging|length - 1) %}
                                {% if belonging[j].id == item.id %}{% set is_active = 1 %}{% endif %}
                            {% endfor %}
                        {% endif %}
                        <option value="{{item.id}}" {% if is_active %}selected="selected"{% endif %}>{{item.label}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="field-group">
            <label for="f-description">전화번호<span class="aui-icon icon-required"></span></label>
            <input class="text" type="text" id="f-contact" name="contact" title="전화번호" value="{{delivery.contact}}" />
            <div class="description">ex) 02-1234-5678 | 양식 준수할 것.</div>
        </div>
        <div class="field-group">
            <label for="f-thumbnail">썸네일</label>
            <div class="form-thumbnail">
                <div class="thumbnail" id="thumbnail-preview">
                    {% if thumbnail %}
                        <div class="img" style="background-image: url('{{thumbnail.getDownloadLinkDirectory}}')"></div>
                    {% else %}
                        <span class="placeholder">이미지를 선택하세요</span>
                    {% endif %}
                </div>
                <button type="button" class="aui-button aui-button-compact" id="delete-thumbnail" {% if not thumbnail %}disabled{% endif %}>삭제</button>
            </div>
            <div style="padding: 6px 0;">
                <input type="hidden" name="thumbnail" id="thumbnail-value" />
                <input class="upfile" type="file" id="f-thumbnail" title="upload file" />
                <button type="button" id="upload-thumbnail" class="aui-button aui-button-compact" disabled>업로드</button>
            </div>
            <div class="description">
                * 권장 이미지 크기 : 800 x 400, 600 x 300, 2:1 비율<br/>
                * 지원되는 파일 형식 : jpg, jpeg, png, gif
            </div>
        </div>
        <div class="field-group">
            <label for="f-description">할인유형<span class="aui-icon icon-required"></span></label>
            <div class="radio">
                <input class="radio" type="radio" {% if delivery.promotion == 0 %}checked="checked"{% endif %} name="promotion" id="f-promotion-1" value="0" />
                <label for="f-promotion-1">할인 없음</label>
            </div>
            <div class="radio">
                <input class="radio" type="radio" {% if delivery.promotion == 1 %}checked="checked"{% endif %} name="promotion" id="f-promotion-2" value="1" />
                <label for="f-promotion-2">재학생 할인</label>
            </div>
            <div class="radio">
                <input class="radio" type="radio" {% if delivery.promotion == 2 %}checked="checked"{% endif %} name="promotion" id="f-promotion-3" value="2" />
                <label for="f-promotion-3">음료수 제공</label>
            </div>
            <div class="radio">
                <input class="radio" type="radio" {% if delivery.promotion == 3 %}checked="checked"{% endif %} name="promotion" id="f-promotion-4" value="3" />
                <label for="f-promotion-4">사이드메뉴 제공</label>
            </div>
        </div>
        <div class="field-group">
            <label for="f-description">게재유형<span class="aui-icon icon-required"></span></label>
            <div class="radio">
                <input class="radio" type="radio" {% if delivery.contract == 0 %}checked="checked"{% endif %} name="contract" id="f-contract-1" value="0" />
                <label for="f-contract-1">운영진이 임의로 추가함</label>
            </div>
            <div class="radio">
                <input class="radio" type="radio" {% if delivery.contract == 1 %}checked="checked"{% endif %} name="contract" id="f-contract-2" value="1" />
                <label for="f-contract-1">무료로 게재할 것을 합의함</label>
            </div>
            <div class="radio">
                <input class="radio" type="radio" {% if delivery.contract == 2 %}checked="checked"{% endif %} name="contract" id="f-contract-3" value="2" />
                <label for="f-contract-1">유료로 계약함</label>
            </div>
        </div>
        <div class="buttons-container">
            <div class="buttons">
                <button type="submit" class="aui-button aui-button-primary">수정하기</button>
                <a class="cancel" href="/admin/delivery">취소</a>
            </div>
        </div>
    </form>
    <h4 class="section-title">배달업체 정보 삭제</h4>
    <form class="aui" action="/admin/delivery/{{delivery.id}}/delete" method="POST" id="group-delete">
        <div class="field-group">
            <label>배달업체 삭제</label>
            <button type="submit" class="aui-button">삭제하기</button>
            <div class="description">주의, 본 작업은 되돌릴 수 없습니다.</div>
        </div>
    </form>
</div>
{% endblock %}