{% extends "layouts/admin.delivery.layout.html" %}

{% block head %}
{% endblock %}

{% block article %}
<div class="article-content delivery-group-info">
    <h4 class="section-title">그룹정보 수정</h4>
    <form class="aui" action="/admin/delivery/groups/{{group.id}}/edit" method="POST">
        <div class="field-group">
            <label for="f-title">카드 제목<span class="aui-icon icon-required"></span></label>
            <input class="text long-field" type="text" id="f-title" name="title" title="그룹 제목" value="{{group.title}}" />
            <div class="description">카카오톡 카드에 노출될 제목을 입력하세요.</div>
        </div>
        <div class="field-group">
            <label for="f-label">라벨<span class="aui-icon icon-required"></span></label>
            <input class="text" type="text" id="f-label" name="label" title="라벨" value="{{group.label}}" />
        </div>
        <div class="field-group">
            <label for="f-description">설명<span class="aui-icon icon-required"></span></label>
            <input class="text long-field" type="text" id="f-description" name="description" title="설명" value="{{group.description}}" />
            <div class="description">카카오톡 카드의 제목 아래에 노출될 설명을 입력하세요.</div>
        </div>
        <div class="buttons-container">
            <div class="buttons">
                <button type="submit" class="aui-button aui-button-primary">수정하기</button>
                <a class="cancel" href="/admin/delivery/groups">취소</a>
            </div>
        </div>
    </form>
    <h4 class="section-title">그룹정보 수정</h4>
    <form class="aui" action="/admin/delivery/groups/{{group.id}}/delete" method="POST" id="group-delete">
        <div class="field-group">
            <label for="f-priority">그룹 삭제</label>
            <button type="submit" class="aui-button">삭제하기</button>
            <div class="description">주의, 본 작업은 되돌릴 수 없습니다.</div>
        </div>
    </form>
</div>
{% endblock %}