{% extends "layouts/admin.delivery.layout.html" %}

{% block head %}
{% endblock %}

{% block article %}
<div class="article-content delivery-group-list">
    <table class="aui">
        <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>라벨</th>
                <th>설명</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(0, group_list|length - 1) %}
                {% set item = group_list[i] %}
                <tr>
                    <td>{{item.id}}</td>
                    <td><a href="/admin/delivery/groups/{{item.id}}">{{item.title}}</a></td>
                    <td><span class="aui-label">{{item.label}}</span></td>
                    <td><span style="font-size: 12px; color: #AAA;">{% if item.description %}{{item.description}}{% else %}없음{% endif %}</span></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}