html, body {
  margin: 0;
  padding: 0;
}
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .1em 0 .2em;
  vertical-align: top;
}

#header {
  border-bottom: 2px solid #017c5f;
  margin: 0;
  padding: 0;

  .logo-area {
    h1 {
      text-align: center;
      margin: 0;
      padding: 16px 0 0 16px;
      line-height: 1;
      vertical-align: bottom;

      a {
        display: inline;
        line-height: 1;

        img {
          display: block;
          height: 50px;
        }
      }
    }
  }
}
#footer {
  border-top: 1px solid #DCDCDC;
  background-color: #F5F5F5;
  padding: 16px;

  p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
    color: #A1A1A1;
  }
}