@import "_common.scss";

#doc-event {
  .content-header {
    position: relative;
    padding-bottom: 75%;
    background: #F5F5F5 center;
    background-size: cover;

    h2 {
      position: absolute;
      margin: 0;
      padding: 0;
      line-height: 1.41em;
      bottom: 8px;
      left: 16px;
      right: 16px;
      color: #FFF;
      font-size: 28px;
      text-shadow: 0 1px 2px rgba(0,0,0,.6);
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0,0,0,.2);
      border-bottom: 1px solid rgba(0,0,0,.1);
    }
  }
  .content-summary {
    padding: 8px 12px;
    background-color: #F5F5F5;
    border-bottom: 1px solid #DCDCDC;

    .outer-caution {
      background-color: #DCDCDC;
      margin: 4px 0 12px 0;
      padding: 8px;
      border-radius: 4px;

      p {
        margin: 0;
        padding: 0;
        line-height: 1;
        text-align: center;
        font-size: 14px;
        color: #686868;

        i {
          font-size: 20px;
          vertical-align: top;
          margin-right: 6px;
        }
        span {
          display: inline-block;
          padding-top: 4px;
          vertical-align: top;
        }
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 4px;
        position: relative;
        min-height: 24px;
        padding-left: 90px;

        span.icon {
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -12px;
          white-space: nowrap;

          i {
            display: inline-block;
            color: #017c5f;
            font-size: 24px;
            line-height: 1;
            vertical-align: top;
            margin-right: 4px;
          }
          .label {
            font-size: 14px;
            font-weight: 600;
            color: #017c5f;
            display: inline-block;
            line-height: 1;
            padding: 6px 0 4px 0;
            margin-right: 2px;
            vertical-align: top;
          }
        }
        p {
          color: #212121;
          font-size: 14px;
          line-height: 1.5em;
          margin: 0;
          padding: 2px 0 0 0;
        }
      }
    }
  }
}